body{
	background-color: #208d83;
}

button{
	background-color: #fff;
}

h5{
	color: #fff;
}
.center-btn { text-align: center }

.canvas_div{
	width: 800px;
	height: 500px;
	border: 10px solid #e57373;
	background-color: #fff;
	margin: auto;
}